# Минимальный набор для запуска

# DB
DB_URL=postgresql://postgres:postgres@ai_db:5432/ai_db

# LLM Provider
LLM_PROVIDER=groq
GROQ_API_KEY=gsk_ваш_ключ_сюда

# Docker Compose
AI_POSTGRES_USER=postgres
AI_POSTGRES_PASSWORD=postgres
AI_POSTGRES_DB=ai_db